body {
    background-image: linear-gradient(to right, #684ab7, #635dc3, #5f6fce, #5f7fd6, #638fdd);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}


/* TEXTBOX */

.textarea {
    position: relative;
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-right: 20px;
}

.textarea input {
    border: 0;
    outline: 0;
    width: 450px;
    height: 20px;
    padding: 10px;
    font-size: 20px;
}

.textarea span {
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    left: 4px;
    top: 8px;
    transition: all 0.3s ease;
    font-size: 20px;
}

.textarea input:focus ~ span {
    transform: translateY(-30px);
    font-size: 15px;
}

.textarea button {
    position:absolute;
    z-index: 2  ;
    border: 0;
    outline: 0;
    background-color: white;
    height: 40px;
    cursor: pointer;
}

.textarea button img {
    width: 20px;
    height: 20px;
}

/* TEXTBOX */


.app {
    margin-top: 10px;
    display: flex;
    font-family: sans-serif;
    position: absolute;
    
    
}

 /* LEFT SIDE */
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #232223;
    color: white;
    width: 230px;
    height: 200px;

} 

.heat {
    font-size: 60px;
    font-weight: 100;
    position: absolute;
    margin-bottom: 84px;
}

.city {
    margin-top: 150px;
    font-weight: 600;
    font-size: 30px;
}
/* LEFT SIDE */


/***** RIGHT SIDE ****/

.right {
    
    background-color: rgba(255, 255, 255, 1.0);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 2;
}



.details {
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 40px;
    background-color: rgb(49, 156, 222);
}

.wind {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.822);
    font-weight: 600;
}

.humidity {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.822);
    font-size: 600;
    font-weight: 600;
}

.description {
    height: 8px;
    font-family: sans-serif;
    font-weight: 600;
}

   /**** RIGHT SIDE ****/


  /*** BOTTOM SIDE ***/
    .bottom {
        border-top: 2px solid white;
        font-family: sans-serif;
        padding-top: 10px;
        background-color: rgb(49, 156, 222);
        width: 430px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 168px;
        color: white;
        transition: margin-top 0.5s ease;
        
        }

        .bottom div {
            padding-top: 3px;
            font-size: 13px;
            font-weight: 600;
        }

    .bottom-btn {
        width: 40px;
        display: none;
        border: 0;
        outline: none;
        cursor: pointer;
        justify-content: center;
        background-color: rgb(49, 156, 222);
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        transition: 500ms ease;
        }

    .bottom-btn img {
        width: 20px;
        height: 20px;
    
        filter: invert(100%) sepia(30%) saturate(2580%) hue-rotate(176deg) brightness(99%) contrast(83%);
        
    }
    
    
    
    
  /*** BOTTOM SIDE ***/

  .second {
    display: none;
    flex-direction: column;

  }

  .error {
    display: none;
    color: red;
  }


  
   /* IMAGES */

.wind > img {
    width: 25px;
    height: 25px;
    padding-right: 5px;
    filter: invert(100%) sepia(30%) saturate(2580%) hue-rotate(176deg) brightness(99%) contrast(83%);
}

.humidity > img {
    width: 25px;
    height: 25px;
    filter: invert(100%) sepia(30%) saturate(2580%) hue-rotate(176deg) brightness(99%) contrast(83%);
    padding-right: 4px;
}

.image > img {
    margin-top: 30px;
    width: 90px;
    height: 90px;
    
}

/* IMAGES */

