body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: gray;
}

.app {
   background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
   border-radius: 20px;
   width: 600px;
   height: 400px;
   font-family: sans-serif; 
}

.text {
    border-radius: 20px;
    height: 30px;
    width: 200px;
    border: 0;
    outline: 0;
    padding-left: 20px;
    font-size: 20px;

    
}

.content button {
    border: 0;
    outline: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    
}

.content button img {
   width: 16px;
   height: 16px;
   border: 0;
   outline: 0;
}  



.weather {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 600 ;
    padding-inline: 100px;
    
    
}

img {
    width: 19px;
    height: 19px;
}


.two {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

#min.temp-min {
    padding-left: 10px;
}

#max.temp-max {
    padding-left: 10px;
}

#humidity.humidity {
    padding-right: 34px;
}

#wind.wind {
    padding-left: 10px;
}





.desc {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

/***** FIRST AREA ****/
.first-area {
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    border-radius: 20px;
    width: 500px;
    height: 150px;
    font-family: sans-serif;
    margin-top: 200px; 


}

.first-text {
    border-radius: 20px;
    height: 30px;
    width: 200px;
    border: 0;
    outline: 0;
    padding-left: 20px;
    font-size: 20px;
}

.first-button {
    border: 0;
    outline: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.first-content {
    margin-top: 45px;
}

/***** FIRST AREA ****/

@media (max-width: 767px) {
    /* Styles for mobile screens */
  }
  
  @media (min-width: 359px) {
    /* Styles for wider screens */
  }